
<% if @payments.exists? %>
    <h1>Payment Successful!</h1>
    <%=render @payments%>
  <% else %>
  <article class="message">
    <div class="message-body">You haven't added any books to your Cart yet.</div>
  </article>
  <% end %>

</section>
